{% extends 'base.html' %}
{% load static %}


{% block title %} Administracao {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>

        <div class="col-8">
            <h3>Cliente: {{ cliente.nome_completo|title }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Idade</th>
                    <th>Salário</th>
                    <th>Bio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ cliente.age }}</td>
                    <td>R$ {{ cliente.salary }}</td>
                    <td>{{ cliente.bio }}</td>

                </tr>
                </tbody>
            </table>
            {% if cliente.photo %}
                <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ cliente.photo.url }}" alt=""><br/>
            {% endif %}
            <a href="{% url 'person_list' %}" class="btn btn-primary">Voltar</a>
        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{ user.username }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                </p>

            {% endif %}
        </div>
    </div>


{% endblock %}
